name: kata_sandobox_typescript
on: [push]
jobs:
  integrate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '18'
      - run: npm install
      - run: npm audit
      - run: npm run tsc
      - run: npm run lint
      - run: npm run test:coverage
      - run: npm run test:mutate